/* INDEX HTML */
:root {
  --second-color: #2196f3;
  --text-color: #212121;
  --text: Roboto, sans-serif;
  --logo-text: Raleway, sans-serif;
}
.body {
  font-family: Roboto, sans-serif;
  color: #212121;
  background: #fff;
}

.header {
  flex-shrink: 0;
}

.logo {
  color: var(--second-color);
  font-family: var(--logo-text);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.studio {
  color: #000;
  font-family: var(--logo-text);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.page-list {
  list-style: none;
}

.studia {
  color: var(--text-color);
  font-family: var(--text);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.studia:hover,
.studia:focus {
  color: var(--second-color);
  font-family: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.portfolio {
  color: var(--text-color);
  font-family: var(--text);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.portfolio:focus,
.portfolio:hover {
  color: var(--second-color);
  font-family: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.contacts {
  color: var(--text-color);
  font-family: var(--text);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.contacts:focus,
.contacts:hover {
  color: var(--second-color);
  font-family: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.list-header {
  list-style: none;
}

.link-header {
  color: #757575;
  font-family: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.link-header:hover,
.link-header:focus {
  color: var(--second-color);
  font-family: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

/* first box index html */

.first-box {
  flex-shrink: 0;
  background: #2f303a;
}

.main-title {
  color: #fff;
  text-align: center;
  font-family: var(--text);
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.main-button {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.text-main-button {
  color: #fff;
  text-align: center;
  font-family: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  cursor: pointer;
}

/* second box index html */

.adv-title {
  color: var(--text-color);
  font-family: var(--text);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.adv-p {
  color: #757575;
  font-family: var(--text);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  flex-shrink: 0;
}

/* our team */

.our-team {
  background: #f5f4fa;
}
.igor {
  flex-shrink: 0;
}
.olga {
  flex-shrink: 0;
}

.mikola {
  flex-shrink: 0;
}
.michailo {
  flex-shrink: 0;
}

.name {
  color: var(--text-color);
  font-family: var(--text);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.proffetion {
  color: #757575;
  font-family: var(--text);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
}

/* footer */

.footer {
  flex-shrink: 0;
  background: #2f303a;
}

.web-foot {
  color: var(--second-color);
  font-family: var(--logo-text);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.studio-foot {
  color: #fff;
  font-family: var(--logo-text);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.address {
  font-style: normal;
}

.addr {
  color: #fff;
  font-family: var(--text);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.link-foot {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--text);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: none;
}

.link-foot:focus,
.link-foot:hover {
  color: var(--second-color);
  font-family: var(--text);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

/* partfolio page */

.sec-portfolio {
  gap: 94px;
  background: #fff;
}

.filter {
  color: var(--text-color);
  font-family: var(--text);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  cursor: pointer;
}

.filter:hover,
.filter:focus {
  background: #2196f3;
}

.link-work {
  text-decoration: none;
}

.work {
  width: 370px;
  height: 404px;
  flex-shrink: 0;
  border: 1px solid #eee;
  background: #fff;
}

.work-name {
  color: var(--text-color);
  font-family: var(--text);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  width: 322px;
}

.work-title {
  font-family: var(--text);
  color: #757575;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.48px;
}
