/* INDEX HTML */
.body {
  font-family: Roboto;
  color: #212121;
  background: #fff;
}

.header {
  flex-shrink: 0;
}

.logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.studio {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.page-list {
  list-style: none;
}

.studia {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.studia:hover,
.studia:focus {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.portfolio {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.portfolio:focus,
.portfolio:hover {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.contacts {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.contacts:focus,
.contacts:hover {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.list-header {
  list-style: none;
}

.link-header {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.link-header:hover,
.link-header:focus {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

/* first box index html */

.first-box {
  flex-shrink: 0;
  background: #2f303a;
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.main-button {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.text-main-button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  cursor: pointer;
}

/* second box index html */

.adv-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 270px;
}

.adv-p {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 270px;
  height: 72px;
  flex-shrink: 0;
}

/* our team */

.our-team {
  background: #f5f4fa;
}
.igor {
  width: 270px;
  height: 368px;
  flex-shrink: 0;
}
.olga {
  width: 270px;
  height: 368px;
  flex-shrink: 0;
}

.mikola {
  width: 270px;
  height: 368px;
  flex-shrink: 0;
}
.michailo {
  width: 270px;
  height: 368px;
  flex-shrink: 0;
}

.name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.proffetion {
  color: #757575;
  text-align: center;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}

/* footer */

.footer {
  flex-shrink: 0;
  background: #2f303a;
}

.web-foot {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.studio-foot {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.addr {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.link-foot {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: none;
}

/* partfolio page */

.sec-portfolio {
  display: flex;
  width: 1600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 94px;
  background: #fff;
}

.work {
  width: 370px;
  height: 404px;
  flex-shrink: 0;
  border: 1px solid #eee;
  background: #fff;
}

.work-name {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  width: 322px;
}

.work-title {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.48px;
}
